/*
Theme Name:         SNERSCIC Theme
Theme URI:          https://roots.io/
Description:        A theme produced for SNERSCIC by LaunchPad Media
Version:            1.0
Author:             LaunchPad Media
Author URI:         http://launchpad.co
*/
<style>
#backToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-i	ndex: 99;
  border: none;
  outline: none;
  background-color: #ffbd4b;
  color: white;
  font-size:56px;
  cursor: pointer;
  padding: 0 15px 5px 15px;
  border-radius: 10px;
  opacity:.5;
}
  #backToTop:hover{
    opacity:1;
  }
</style>

