// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
  vertical-align: top;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-default;
}

.search-form {
	width: 306px;
	height: 36px;
	display: block;
	float: right;
	position: relative;
	border-radius: 50px;
	border: solid 1px #e8e8e8;
	padding: 0 52px 0 22px;
	margin: 13px 100px 15px 0px;
}
.search-form input[type="search"],
.search-form input[type="text"] {
	width: 100%;
	padding: 0;
	margin: 0;
	display: block;
	appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	-moz-appearance: none;
	box-shadow: none;
	height: 34px;
	border: none;
	box-shadow: inherit;
	border-radius: 50px;
	font-size: 12px;
	font-family: "soleil", sans-serif;
}
.search-form input[type="search"]:focus,
.search-form input[type="text"]:focus {
	box-shadow: inherit;
	outline: none;
}
.search-form button[type="submit"] {
	font-size: 0;
	line-height: 0;
	width: 52px;
	height: 27px;
	display: block;
	border: none;
	border-left: solid 1px #d6d6d6;
	background: none;
	padding: 0;
	margin: 0;
	display: block;
	position: absolute;
	top: 3px;
	right: 0;
	box-shadow: inherit;
	appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
}
.search-form button[type="submit"]:before {
	content: "\f002";
	font-family: 'FontAwesome';
	font-size: 20px;
	line-height: 27px;
	margin-right: 10px;
	color: #595959;
}
.search-form button[type="submit"]:hover,
.search-form button[type="submit"]:focus {
	opacity: 0.7;
}
.search-form input::-webkit-input-placeholder {
	color: #aaaaaa;
}
.search-form input::-moz-placeholder {
	color: #aaaaaa;
}
.search-form input:-ms-input-placeholder {
	color: #aaaaaa;
}
.search-form input:-moz-placeholder {
	color: #aaaaaa;
}