/* ----------------------------------------------------------------------------
    Fonts
---------------------------------------------------------------------------- */
@font-face {
  font-family: "launchpad-font";
  src:url("../fonts/launchpad-font.eot");
  src:url("../fonts/launchpad-font.eot?#iefix") format("embedded-opentype"),
    url("../fonts/launchpad-font.woff") format("woff"),
    url("../fonts/launchpad-font.ttf") format("truetype"),
    url("../fonts/launchpad-font.svg#launchpad-font") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* ----------------------------------------------------------------------------
    Global Styles
---------------------------------------------------------------------------- */
body {
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	-webkit-font-smoothing: antialiased;
	font-family: Arial;
	-webkit-text-size-adjust: none;
	font-family: "soleil", sans-serif;
	font-weight: 400;
	// background: #3681ba;
}
.wf-loading * {
	opacity: 0;
}
.cf:before,
.cf:after {
	content: "";
	display: table;
}
.cf:after {
	clear: both;
}

a {
	color: #2882d3;
	text-decoration: underline;
	text-decoration-color: #93c0e9;
	font-family: "soleil", sans-serif;
	font-weight: 700;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
a:active,
a:hover,
a:focus {
	color: #008aaf;
	text-decoration: none;
	outline: 0;
	border: none;
}

u {
	text-decoration-color: #93c0e9;
}

.tbl {
	display: table;
	width: 100%;
	height: 100%;
}
.tbl-cell {
	display: table-cell;
	vertical-align: middle;
}
.tbl-cell-bottom {
	display: table-cell;
	vertical-align: bottom;
}

.btn {
	background: #46a7d7;
	color: #fff;
	font-size: 24px;
	line-height: 26px;
	font-family: "Poppins", serif;
	font-weight: 700;
	text-decoration: inherit;
	padding: 17px 60px 15px 52px;
	border-radius: 0;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.btn:hover,
.btn:focus {
	background: #3687af;
	color: #fff;
}

.btn-next{
  background-color: #003070;
  color: white;
  border: none;
  padding: 5px 15px;
}

.btn-prev{
  background-color: #003070;
  color: #fff;
  border: none;
  padding: 5px 15px;
}

.btn-default{
  background-color: #e6e6e6;
  color: #000;
  border: none;
  padding: 5px 15px;
}
.btn-default:hover,
.btn-prev:hover,
.btn-next:hover{
  opacity: .95;
}

.yellow-btn {
	line-height: normal;
	padding: 12px 52px;
	background: #ffbd4b;
}
.yellow-btn:hover,
.yellow-btn:focus {
	background: #ffbd4b;
}

.blue-btn {
	background: #023a85;
	font-size: 13px;
	line-height: 17px;
	color: #fff;
	font-family: "soleil", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	padding: 18px 15px;
}
.blue-btn:hover,
.blue-btn:focus {
	background: #1253ab;
}

.container {
	width: 1200px;
}

.italic{
  font-style: italic;
  font-weight: 300;
}

h1 {
	color: #000000;
	font-size: 60px;
	text-transform: uppercase;
	font-family: "soleil", sans-serif;
	font-weight: 700;
	margin-bottom: 16px;
	text-shadow: 1px 1px 33px rgba(4, 56, 89, 1);
}
h2 {
	font-size: 36px;
	line-height: 40px;
	color: #000000;
	font-family: "soleil", sans-serif;
	font-weight: 700;
	position: relative;
	margin-bottom: 41px;
	margin-top: 0;
}
h4 {
	font-size: 18px;
	line-height: 22px;
	font-family: "soleil", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0 0 12px;
	letter-spacing: -1px;
	word-spacing: 3px;
}

/* ----------------------------------------------------------------------------
    Modal Styles
---------------------------------------------------------------------------- */
.modal .modal{
  text-align: left;
}
.modal p{
  height: auto;
}
.modal a{
  float: none;
}
.modal-footer .btn{
  color: transparent;
  font-size: 16px;
  padding: 0;
}
.modal{
  overflow-y:auto;
}

/* ----------------------------------------------------------------------------
    Banner Styles
---------------------------------------------------------------------------- */
.banner-main {
	height: 551px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	position: relative;
}
.banner-main:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(000, 000, 000, 0.4);
	z-index: 0;
}
.banner-content {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.banner-content h2 {
	color: #fff;
	font-size: 60px;
	line-height: 72px;
	font-family: "Poppins", serif;
	font-weight: 700;
}
.banner-content .btn {
	margin-left: 4px;
}
.slick-dots {
	padding: 0;
	margin: 0;
	list-style: none;
	position: absolute;
	bottom: 19px;
	left: 0;
	right: 0;
	text-align: center;
}
.slick-dots li {
	display: inline-block;
	margin: 0 5px;
}
.slick-dots li button {
	background: #d7d7d5;
	width: 18px;
	height: 18px;
	display: block;
	border-radius: 100%;
	font-size: 0;
	line-height: 0;
	border: none;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
	background: rgba(70, 167, 215, 0.7);
	outline: none;
}
.slick-dots li.slick-active button {
	background: rgba(70, 167, 215, 0.7);
	transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
}

/* ----------------------------------------------------------------------------
    Custom Fonts
---------------------------------------------------------------------------- */
[data-icon]:before {
  font-family: "launchpad-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "launchpad-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list:before {
  content: "\61";
}
.icon-news:before {
  content: "\62";
}
.icon-referral:before {
  content: "\63";
}
.icon-toolkit:before {
  content: "\64";
}


/* ----------------------------------------------------------------------------
    Page Links -- Secondary Navigation
---------------------------------------------------------------------------- */

/* Page Links Section Starts Here
====================================================*/
.page-links {
	background: #003070;
}
.links-listing {
	list-style: none;
	padding: 0;
	margin: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	font-size: 18px;
	line-height: 22px;
	font-family: "soleil",sans-serif;
	font-weight: 400;
}
.links-listing li {
	-webkit-flex-basis: 0;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
}
.links-listing svg{
  margin-bottom:8px;
  width:100%;
  height:70px;
  display:block;
  text-align: center;
  fill:white;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.links-listing li:hover svg{
  fill:#ffbd4b;
}
.links-listing li.active svg {
  fill: #ffbd4b;
}
.links-listing li a {
	color: #fff;
	text-decoration: none;
	font-family: "soleil",sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	display: block;
	width: 100%;
	padding: 15px;
	height: 155px;
}
.links-listing li a:hover,
.links-listing li a:focus,
.links-listing li.active a {
	background: #fff;
	color: #ffbd4b;
}
.links-listing li.active a {
	font-weight: 700;
}

li.ui-tabs-active a{
	background: #fff;
	color: #ffbd4b;
}