/*--------------media query css------------------*/
@media (max-width:1217px) {
  .container {
    width: 1170px;
  }
}

/*------------tablet landscape view------*/
@media (max-width:1199px) {
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 45px;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 15px;
  }
  h4 {
    font-size: 16px;
  }
  .container {
    width: 970px;
  }
  h2 {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 25px;
  }
  .quick-links-box {
    padding: 25px 15px 13px;
    height: auto;
    min-height: 370px;
  }
  .videos-lists h3 {
    padding: 15px 15px 16px;
  }
  .h3, h3 {
    font-size: 19px;
  }
  .sidebar section {
    padding: 0 15px 30px
  }
  .sidebar section h2 {
    font-size: 20px;
    line-height: 20px;
    padding: 15px 0 15px;
    margin: 0 -23px 24px;
  }
  .more-videos {
    padding: 15px 30px;
  }
  .title-heading {
    margin-bottom: 50px;
  }
  .title-heading:after {
    width: 398px;
  }
  .video-content {
    padding-top: 15px;
  }
  .banner-content h2 {
    font-size: 56px;
    line-height: 70px;
  }
  .banner-main {
    height: 490px;
  }
  .btn {
    font-size: 20px;
    line-height: 1;
    padding: 15px 30px;
  }
  .slick-dots li button {
    width: 15px;
    height: 15px;
  }
  .mid-container {
    padding: 40px 0;
  }
  .video-content h4 {
    font-size: 14px;
    line-height: 1.2;
  }
  .sidebar section ul li {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 15px;
  }
  .sidebar section p {
    font-size: 14px;
    line-height: 1.2;
  }
  .foo-logo {
    width: 150px;
    height: 70px;
    margin: 0 0 30px;
  }
  #footer h3 {
    font-size: 20px;
    line-height: 1.2;
  }
  .footer-btm {
    padding: 20px 0 0;
  }

  /*-- about page --*/
  .inner-banner {
    height: 250px;
  }
  .inner-banner h1 {
    padding-left: 0;
  }
  .mid-content h2 {
    font-size: 24px;
    line-height: 1.4;
  }
  .links-listing {
    font-size: 16px;
    flex-wrap: nowrap;
  }
  .links-listing li a {
    height: 100%;
  }
  .links-listing li {
    flex-basis: auto;
  }
  .about-snerscic-content {
    margin: 0;
    padding: 0 20px 20px;
  }
  .about-snerscic-content figure {
    margin: -3px -23px 30px;
  }
  .about-snerscic-content p {
    margin-bottom: 15px;
  }
  .about-boxes figure {
    margin: 0 auto 15px;
  }
  .about-boxes h3 {
    font-size: 14px;
    line-height: 1.2;
    margin: 0 0 10px;
  }
  .blue-btn {
    font-size: 13px;
  }
  .about-boxes {
    min-height: 380px;
    margin-bottom: 30px;
  }

  /*-- research-recruiting --*/
  .mid-content-yellow {
    padding: 30px 0;
  }
  .mid-banner h2 {
    font-size: 40px;
    margin-bottom: 30px;
    line-height: 1.2;
  }
  .mid-banner-content {
    padding: 30px;
    margin: 0 50px;
  }
  .mid-banner-content h3 {
    margin-bottom: 15px;
  }
  .mid-banner-content address {
    padding: 0 0 0 15px;
    font-size: 16px;
    line-height: 1.2;
  }
  .mid-banner-content figure {
    padding-top: 0;
  }
  .mid-banner-content figure img {
    width: 100px;
  }
  .mid-banner-content p {
    margin-bottom: 15px;
  }
  .mid-banner {
    padding: 50px 0;
  }
  .currently-recruiting-content {
    margin: 0;
    padding: 30px;
  }
  .currently-recruiting-content h2 {
    font-size: 26px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  .contact-dtl {
    margin-bottom: 15px;
  }
  .currently-recruiting-content p {
    margin-bottom: 15px;
  }

  /*-- resources --*/
  .mid-content-blue {
    padding: 50px 0;
  }
  .resource-mid-sec .container .row {
    margin: 0 -15px;
  }
  .resource-boxes figure img {
    width: 45%;
  }
  .resource-boxes figure {
    width: 130px;
    height: 130px;
    line-height: 130px;
  }
  .resource-boxes {
    min-height: 300px;
  }
  .resource-mid-sec {
    min-height: 700px;
  }

  /*-- research-quickreview --*/
  .quickreview-boxes {
    min-height: 250px;
    padding: 15px 15px 70px;
  }
  .quickreview-sec {
    min-height: 600px;
  }
  .quickreview-sec .container .row {
    margin: 0 50px;
  }

  /*-- research-publications --*/
  .publication-content h2 {
    font-size: 30px;
    margin-bottom: 15px;
  }

  /*-- research-previous --*/
  .panel-title a {
    font-size: 22px;
    padding: 15px 50px 15px 15px;
    line-height: 1.2;
  }
  .panel-title a:after {
    right: 23px;
    width: 4px;
    height: 22px;
    margin-top: -11px;
  }
  .panel-title a:before {
    width: 20px;
    height: 4px;
    margin-top: -2px;
    right: 15px;
  }
  .panel-body {
    padding: 15px;
  }
  .more-links {
    padding-top: 0;
  }
  .panel-body p {
    font-size: 15px;
    line-height: 1.4;
  }

  /*-- research-presentations --*/
  .presentation-main {
    margin: 0;
    padding: 30px;
  }
  .presentation-content p {
    line-height: 1.4;
    margin-bottom: 15px;
  }

  /*-- research-other --*/
  .pagination a {
    font-size: 22px;
    line-height: 1.2;
  }
  .pagination {
    padding: 15px;
    margin: 10px 0;
  }
}

/*------------tablet portrait  view------*/
@media (max-width:991px) {
  h1 {
    font-size: 40px;
  }
  .h3, h3 {
    font-size: 16px;
  }
  .container {
    width: 750px;
  }
  .translate-bix img {
    margin-right: 12px;
  }
  .banner-content h2 {
    font-size: 46px;
    line-height: 1.2;
  }
  .btn {
    padding: 12px 45px 11px;
  }
  .banner-main {
    height: 430px;
  }
  .mid-container {
    padding: 45px 0;
  }
  .date-pic-content,
  .archives-link {
    float: none;
  }
  .foo-logo {
    margin: 0 auto 15px;
  }
  .social-media {
    padding: 0;
    margin-bottom: 35px;
  }
  .sidebar section h2 {
    font-size: 16px;
  }

  /*-- about page --*/
  .inner-banner {
    height: 200px;
  }
  .mid-content h2 {
    font-size: 22px;
  }
  .links-listing {
    font-size: 14px;
  }
  .about-boxes {
    min-height: 400px;
  }

  /*-- research-recruiting --*/
  .mid-banner-content address {
    border-left: 0;
    border-top: 1px solid #fff;
    padding: 20px 0 0;
    margin-top: 30px;
    text-align: center;
  }
  .mid-banner h2 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .currently-recruiting-content h2 {
    font-size: 24px;
  }

  /*-- resources --*/
  .resource-boxes {
    min-height: 300px;
  }
  /*-- research-quickreview --*/
  .quickreview-boxes {
    min-height: 250px;
  }
  .quickreview-sec {
    min-height: 481px;
  }

  /*-- research-publications --*/
  .publication-content h2 {
    font-size: 28px;
  }

  /*-- research-previous --*/
  .panel-title a {
    font-size: 20px;
  }
  .pagination a {
    font-size: 20px;
  }
}
/*------------some moral middle ground  view------*/
@media (max-width: 990px) and (min-width: 768px){
  #google-translator #google_translate_element{
    position: absolute;
    width: 40%;
    height: 32px;
    left: 20px;
    top: 30px;
  }
}

/*------------mobile landscape  view------*/
@media (max-width:767px) {
  body {
    line-height: 1.4;
  }
  h1 {
    font-size: 30px;
  }
  .container {
    width: auto;
  }
  .banner-main {
    height: 385px;
  }
  .quick-links-box {
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
  }
  .mid-container .container .row .col-lg-8 {
    width: 100%;
    float: none;
  }
  .mid-container .container .row .col-lg-4 {
    width: 100%;
    float: none;
  }
  .more-videos {
    float: none;
    margin-bottom: 50px;
  }
  .sidebar section {
    padding: 0 0 30px;
  }
  .sidebar section h2 {
    margin: 0 0 15px;
  }
  .sidebar section ul li {
    margin-bottom: 15px;
  }
  .logo {
    width: 180px;
    height: 84px;
  }
  .search-form {
    margin-top: 0;
  }
  .top-nav-list {
    text-align: center;
  }
  .top-nav-list li:first-child {
    margin-left: 0;
  }
  .translate-bix {
    text-align: center;
    margin-bottom: 10px;
  }
  #google-translator #google_translate_element{
    position: absolute;
    width: 34%;
    height: 32px;
    left: 115px;
    top: 0px;
  }
  .banner-content h2 {
    font-size: 42px;
    line-height: 54px;
  }
  .quick-links-box {
    min-height: inherit;
    height: auto;
  }
  .links-listing {
    flex-wrap: wrap;
  }
  .links-listing li {
    width: 100%;
    flex-grow: inherit;
    flex-basis: auto;
  }

  /*-- about page --*/
  .mid-content h2 {
    font-size: 20px;
  }
  .about-snerscic-content {
    padding: 0 15px 20px;
  }
  .about-snerscic-content figure {
    margin: -3px -18px 20px;
  }
  .about-boxes {
    min-height: inherit;
  }

  /*-- research-recruiting --*/
  .mid-banner h2 {
    font-size: 28px;
  }
  .mid-banner-content {
    margin: 0;
  }
  .mid-banner {
    padding: 30px 0;
  }
  .currently-recruiting-content h2 {
    font-size: 22px;
  }
  .currently-recruiting-content {
    padding: 20px 15px;
  }

  /*-- resources --*/
  .mid-content-blue {
    padding: 30px 0;
  }
  .mid-content h2 br {
    display: none;
  }
  .quickreview-sec .container .row {
    margin: 0 -15px;
  }

  /*-- research-publications --*/
  .publication-content h2 {
    font-size: 26px;
  }

  /*-- research-previous --*/
  .panel-title a {
    font-size: 18px;
  }

  /*-- research-presentations --*/
  .presentation-box figure {
    margin: 0 0 20px;
    width: 50%;
  }
  .sort-by {
    margin-bottom: 30px;
  }
  .presentation-main {
    padding: 30px 15px;
  }

  /*-- research-other --*/
  .pagination a {
    font-size: 18px;
    margin: 0 4px;
  }
  .pagination {
    padding: 8px;
  }
}

/*------------mobile portrait view------*/
@media (max-width:640px) {
  .logo {
    width: 170px;
    height: auto;
    float: none;
    margin: 5px auto 20px;
  }
  .nav-right{
    float: none;
  }
  .search-form {
    width: 100%;
    float: none;
  }
  .nav-icons{
    margin-right: 0px;
  }
  .banner-content h2 {
    font-size: 36px;
    line-height: 40px;
  }
  .banner-main {
    height: 415px;
  }
  .quick-links-box {
    height: auto;
  }
  .title-heading {
    margin-bottom: 30px;
  }
  .title-heading:after {
    width: 92%;
  }
  .videos-lists {
    margin-bottom: 30px;
  }
  .recive-news {
    width: 100%;
    max-width: 100%;
  }
  .btn {
    font-size: 20px;
    padding: 12px 25px 11px;
  }
  .our-partners ul li {
    width: 100%;
    margin-bottom: 10px;
  }
  .foot-link li {
    display: block;
    margin-bottom: 0;
    float: none;
  }
  .foot-link li a {
    font-size: 13px;
    line-height: 17px;
  }
  .foot-link li:after {
    display: none;
  }
  .foot-link li:last-child {
    margin-bottom: 0;
  }
  .blue-btn {
    font-size: 13px;
  }
  .footer-btm {
    padding-bottom: 20px;
  }
}
/*------------an awkward in-betweener view------*/
@media (max-width: 600px){
  #header .top-nav .translate-bix .up_bold{
    font-size: 13px;
  }
  #google-translator #google_translate_element{
    width: 50%;
    left: 70px;
  }
  .text-size-list{
    margin-top: 5px;
  }
}

/*----------optional css------*/
@media (max-width:480px) {
  h1 {
    font-size: 28px;
  }
  .translate-bix img {
    margin-right: 0;
  }
  .text-size-list {
    display: block;
    margin-top: 10px;
  }
  #google-translator #google_translate_element{
    width: 70%;
    left: 15px;
  }

  /*-- about page --*/
  .mid-content h2 {
    font-size: 18px;
  }

  /*-- research-recruiting --*/
  .mid-banner-content {
    padding: 20px 15px;
  }
  .currently-recruiting-content h2 {
    font-size: 20px;
  }

  /*-- research-publications --*/
  .publication-content h2 {
    font-size: 24px;
  }

  /*-- research-previous --*/
  .panel-title a {
    font-size: 16px;
  }

  /*-- research-presentations --*/
  .presentation-box figure {
    width: 100%;
  }

  /*-- research-other --*/
  .pagination a {
    font-size: 16px;
  }
}