<form action="" method="post" id="admin_logg">
 <label for="name">{$name}: <input type="text" name="name" id="name" value="" /></label>
 <label for="pass">{$pass}: <input type="password" name="pass" id="pass" value="" /></label>
 <input type="submit" id="submit" value="{$send}" />
</form>