/* ----------------------------------------------------------------------------
    Footer CSS Start
---------------------------------------------------------------------------- */
#footer {
	background: #ffffff;
	padding: 31px 0 0;
	border-top: solid 15px #003070;
	text-align: center;
}
#footer h3 {
	font-family: "Poppins", serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 22px;
	color: #003070;
	margin: 0;
}
#footer h3 strong {
	font-weight: 700;
	text-transform: uppercase;
}
#footer h4 {
	font-family: "soleil", sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	color: #003070;
	text-transform: inherit;
	letter-spacing: 0;
}
.footer-content {
	width: 100%;
	padding-bottom: 23px;
}
.foo-logo {
	width: 213px;
	height: 100px;
	display: block;
	margin: 5px 12px 61px 12px;
}
.foo-logo img {
	display: block;
	width: 100%;
}
.social-media {
	padding-left: 12px;
	padding-right: 36px;
}
.social-media h4 {
	letter-spacing: -0.03em;
	margin: 0 0 13px;
	word-spacing: 0;
}
.social-icons {
	list-style: none;
	padding: 0;
	margin: 0;
}
.social-icons li {
	display: inline-block;
}
.social-icons li a {
	width: 36px;
	display: block;
	text-decoration: none;
	color: #fff;
	line-height: 32px;
	border-radius: 3px;
	font-size: 14px;
}
.social-icons li a.fa-facebook {
	background: #4e73c0;
}
.social-icons li a.fa-twitter {
	background: #3ce4f2;
}
.social-icons li a.fa-facebook:hover,
.social-icons li a.fa-facebook:focus {
	background: #3b5ca1;
}
.social-icons li a.fa-twitter:hover,
.social-icons li a.fa-twitter:focus {
	background: #2fc1cd;
}
.recive-news {
	max-width: 75%;
	margin: 0 auto 25px;
}
.recive-news h3 {
	margin-bottom: 18px !important;
}
.our-partners {
	display: inline-block;
}
.our-partners h4 {
	letter-spacing: -0.02em;
	margin: 0;
}
.our-partners ul {
	float: left;
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}
.our-partners ul li {
	display: inline-block;
	width: 32.7%;
	display: inline-block;
	vertical-align: middle;
	padding: 0 10px;
}
.our-partners ul li a {
	display: inline-block;
}
.our-partners ul li a img {
	display: block;
	width: 100%;
}
.date-pic-content,
.archives-link {
	float: right;
}
.archives-link-content h4 {
	margin: 0 0 5px 0;
}
.archives-link {
	list-style: none;
	padding: 0;
	margin: 0;
}
.archives-link li {
	margin-bottom: -8px;
}
.archives-link li a {
	font-family: "soleil", sans-serif;
	font-size: 14px;
	line-height: 30px;
	color: #003070;
	font-weight: 400;
	display: block;
}
.archives-link li a:hover,
.archives-link li a:focus {
	color: #356fbc;
}
#footer .row {
	margin: 0;
}
.footer-btm {
	padding: 26px 0 6px;
	background: #3681ba;
	width: 100%;
	box-shadow: inset 0px 10px 10px 0 #16427c;
}
.foot-link {
	text-align: center;
	display: inline-block;
	padding: 0;
	margin: 0;
	list-style: none;
}
.foot-link li {
	position: relative;
	float: left;
	line-height: 0;
	padding: 0 10px;
}
.foot-link li:last-child:after {
	display: none;
}
.foot-link li:after {
	position: absolute;
	content: "";
	right: 0;
	top: 50%;
	color: #fff;
	border-right: 1px solid #fff;
	width: 1px;
	height: 12px;
	transform: translateY(-50%);
}
.foot-link li a {
	font-family: "soleil", sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 30px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-decoration: none;
}
.foot-link li a:hover,
.foot-link li a:focus {
	color: #ffbd4b;
}

.contact-footer{
  width: 300px;
  list-style-type: none;
  text-align: center;
  color: #003070;
  font-family: "Soleil", sans-serif;
  font-weight: 700;
}
.contact-footer i{
  margin-right: 5px;
}
.contact-footer li{
	margin-bottom: 15px;
}
.contact-footer a{
  color: #003070;
}
.contact-footer a:hover{
  color: #008ca8;
}
.contact-footer li.header{
  text-align: center;
  margin: auto;
  color: #003070;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 10px;
}