/* ----------------------------------------------------------------------------
    Header CSS Start
---------------------------------------------------------------------------- */
#header {
	background: #fff;
}
.logo {
	width: 213px;
	height: 100px;
	display: block;
	float: left;
}
.logo img {
	display: block;
	width: 100%;
}

/* ----------------------------------------------------------------------------
    Main Navigation
---------------------------------------------------------------------------- */
.top-nav {
	border-bottom: solid 1px #b0b0b0;
	margin-bottom: 26px;
	padding: 6px 0 0 0;
}
.top-nav-list {
	list-style: none;
	padding: 0 0 0 15px;
	margin: 0 10% 0 0;
	text-align: right;
}
.top-nav-list li {
	display: inline-block;
	margin-left: 15px;
}
.top-nav-list li a {
	text-decoration: none;
	color: #04407a;
	display: inline-block;
	font-size: 13px;
	line-height: 15px;
	font-family: "soleil",sans-serif;
	font-weight: 400;
}
.top-nav-list li a span {
	font-size: 22px;
	line-height: 22px;
	position: relative;
	top: 1px;
}
.top-nav-list li a span.fa-envelope {
	font-size: 18px;
}
.top-nav-list li a:hover,
.top-nav-list li a:focus {
	color: #2882d3;
}

.translate-bix{
  padding-top: 2px;
}
#google-translator{
  position: relative;
  float: left;
  width: 35%;
}
#header .top-nav .translate-bix .up_bold{
  font-weight: 500;
  font-size: 15px;
}
a.btn-translate{
  display: inline-block;
  margin-left: 6px;
  margin-top: -3px;
}
.btn-translate img{
  position: relative;
  top: -3px;
}
#google-translator #google_translate_element {
  position: absolute;
  width: 28%;
  height: 32px;
  left: 80px;
  top: 3px;
}
#google-translator #google_translate_element .goog-te-gadget-icon {
  display: none;
}
#google_translate_element .goog-te-gadget-simple .goog-te-menu-value {
  color: #000;
  font-size: 0
}
#google_translate_element .goog-te-gadget-simple {
  background-color: transparent;
  border-width: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 10pt;
  height: 100%;
  padding-bottom: 2px;
  padding-top: 1px;
  width: 100%;
}
#google_translate_element .goog-te-gadget {
  color: #666;
  font-family: arial;
  font-size: 11px;
  height: 42px;
  white-space: nowrap;
}
.text-size-list a{
  text-decoration: none;
}
.translate-bix img {
	display: inline-block;
	margin-right: 15px;
}
.text-size-list {
	display: inline-block;
}

#menu-primary-navigation-top .nav-justified{
	width: 80%;
	margin: 0 auto;
}
.main-nav.navbar-default {
	background: #008ab0;
	padding: 0px;
	margin-top: 29px;
}
.navbar .navbar-collapse {
	padding: 0;
	background: none;
	text-align: center;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	background: none;
	border: none;
}
.navbar-default {
	border: none;
	border-radius: 0;
	background: none;
}
// .navbar .navbar-nav {
//   display: inline-block;
//   float: none;
//   vertical-align: top;
// 	margin: 0 -20px 0 -13px;
// }
.nav-justified > li > a {
	padding: 15px 0;
	font-family: "petala-pro", sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	font-size: 14px;
	line-height: 16px;
}
#menu-primary-navigation-top .nav-justified li:last-child{
  background: #003070;
}
	#menu-primary-navigation-top .nav-justified li:last-child a{
		box-sizing: border-box;
		padding: 15px;
	}
	#menu-primary-navigation-top #menu-primary-navigation > li ul li:last-child{
		background: initial;
		padding: initial;
		margin: initial;
	}
	#menu-primary-navigation-top #menu-primary-navigation > li ul li:last-child a{
		padding: 10px 15px;
	}
.navbar {
	min-height: inherit;
	margin-bottom: 0;
}
.navbar-default .nav-justified > li > a {
	color: #fff;
	text-decoration: none;
	position: relative;
}
.navbar-default .nav-justified > li > a:after {
	content: "";
	background: #ffbd4b;
	height: 4px;
	width: 0;
	position: absolute;
	bottom: 0px;
	left: 50%;
	right: 50%;
	display: block;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.navbar-default .nav-justified > .active > a,
.navbar-default .nav-justified > .active > a:focus,
.navbar-default .nav-justified > .active > a:hover {
	background: none;
	color: #fff;
}
.navbar-default .nav-justified > .active > a:after,
.navbar-default .nav-justified > .active > a:focus:after,
.navbar-default .nav-justified > .active > a:hover:after,
.navbar-default .nav-justified > li > a:hover:after {
	width: 100%;
	left: 0;
	right: 0;
}
.navbar-default .nav-justified > li > a:focus,
.navbar-default .nav-justified > li > a:hover {
	color: #fff;
	background-color: transparent;
}
ul#menu-primary-navigation li.dropdown:hover ul.dropdown-menu{
  display: block;
}
  #menu-primary-navigation > li > ul.dropdown-menu{
    min-width: 100%;
    text-align: center;
    margin-top: 0px;
  }
    #nav-wrapper .dropdown-menu > li > a{
      color: rgb(0,0,0);
      font-size: 13px;
      padding: 10px 15px;
      text-decoration: none;
    }
button.navbar-toggle.collapsed{
  border: 1px solid #fff!important;
  background: none!important;
}
	button.navbar-toggle:focus,
	button.navbar-toggle:hover,
	button.navbar-toggle:active{
		background-color: #fff!important;
	}
button.navbar-toggle.collapsed .icon-bar{
  background-color: #fff!important;
}
	button.navbar-toggle:focus .icon-bar,
	button.navbar-toggle:hover .icon-bar,
	button.navbar-toggle:active .icon-bar{
		background-color: #888!important; 
	}
.nav-right{
  float: right;
}
.nav-icons{
  margin-right: 28%;
  margin-top: 20px;
}
.translate-icon{
  position: relative;
  width: 58px;
}
@media (max-width: 1200px){
  #menu-primary-navigation-top .nav-justified{
    width: 100%;
  }
}
@media (max-width: 990px) and (min-width: 768px){
  .nav-justified>li>a{
    font-size: 11px;
    line-height: 15px;
  }
}
@media (max-width: 767px){
	.navbar-default .nav-justified>li>a:after{
    display: none;
  }
	#menu-primary-navigation-top .nav-justified{
		display: block;
	}
	.nav-justified li:last-child{
		padding: inherit;
		margin: inherit;
	}
	#menu-primary-navigation .menu-item-has-children a{
		cursor: default;
		pointer-events: none;
	}
	#menu-primary-navigation .dropdown-menu a{
		pointer-events: initial!important;
	}
	#menu-primary-navigation > li > ul.dropdown-menu{
		margin-top: -5px;
	}
}