/* ----------------------------------------------------------------------------
    Homepage
---------------------------------------------------------------------------- */

/* Quick Links Starts Here
======================================================*/
.quick-links-sec {
	background: #fff;
}
.quick-links-sec .row {
	margin: 0;
}
.quick-links-sec .row [class*="col-"] {
	padding: 0;
}
.quick-links-box {
	background:#003070;
	height: 290px;
	display: block;
	text-align: center;
	padding: 25px 40px 13px;
	display: block;
	color: #fff;
	text-decoration: none;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.quick-links-box:hover{
	background:#02459f;
	color: #fff;
}
.quick-links-box:focus {
	background: #46a7d7;
	color: #fff;
}
.quick-links-box p {
	font-family: "soleil", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
}
.quick-links-box figure img {
	margin-bottom: 16px;
}
.quick-links-box p strong {
	display: block;
	margin-bottom: 8px;
}
.quick-links-box p u{
	padding: 0 5px;
}

/* Mid Container Section Starts Here
======================================================*/
.mid-container {
	background: #fff;
	padding: 82px 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}
.home-mid-container{
	padding-bottom: 190px;
}
.mid-container .container .row .col-lg-8 {
	width: 65%;
}
.mid-container .container .row .col-lg-4 {
	width: 32.9%;
	float: right;
}
.title-heading {
	position: relative;
	padding-bottom: 8px;
	margin-bottom: 70px;
}
.title-heading h2 {
	margin-bottom: 0;
}
.title-heading:after {
	content: "";
	width: 559px;
	height: 5px;
	background: #b2b2b2;
	display: block;
	position: absolute;
	bottom: 0;
	left: 2px;
	z-index: 0;
}
.title-heading:before {
	content: "";
	width: 100px;
	height: 5px;
	background: #46a6d6;
	position: absolute;
	bottom: 0;
	left: 2px;
	z-index: 1;
	display: block;
}
.videos-lists {
	margin-bottom: 56px;
}
.videos-lists h3 {
	background: #46a7d7;
	padding: 17px 25px 25px;
	color: #fff;
	font-family: "soleil", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
	letter-spacing: 0.5px;
	word-spacing: -2px;
}
.iframe-video {
	width: 100%;
	position: relative;
	padding-bottom: 69.5%;
	display: block;
}
.iframe-video iframe {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border: none;
	height: 100%;
	width: 100%;
}
.video-content {
	padding-top: 25px;
}
.video-content h4 {
	font-size: 16px;
	line-height: 19px;
	font-family: "soleil", sans-serif;
	font-weight: 700;
	text-transform: inherit;
	letter-spacing: 0;
	word-spacing: 0;
	margin: 0;
}
.video-content h4 a {
	color: #000;
	text-decoration: none;
	display: inline-block;
}
.video-content h4 a:hover,
.video-content h4 a:focus {
	color: #46a7d7;
}
.video-content p {
	font-size: 16px;
	line-height: 20px;
}
.more-videos {
	background: #47a7d7;
	padding: 19px 30px;
	text-align: right;
}
.more-videos a {
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	text-decoration: inherit;
	font-size: 16px;
	line-height: 20px;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.more-videos a:after {
	content: "";
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-left: 12px solid #fff;
	border-bottom: 11px solid transparent;
	display: inline-block;
	vertical-align: middle;
	margin-left: 8px;
	position: relative;
	top: -2px;
}
.more-videos a:hover,
.more-videos a:focus {
	opacity: 0.7;
}
.sidebar {
	padding-top: 2px;
}
.sidebar section {
	display: block;
	padding: 0 23px 40px;
}
.sidebar section h2 {
	background: #008aaf;
	color: #fff;
	text-align: center;
	padding: 22px 0 20px;
	font-size: 24px;
	line-height: 26px;
	margin: 0 -23px 24px;
}
.sidebar section ul {
	list-style: none;
	padding: 0 0 0 0;
	margin: 0;
}
.sidebar section ul li {
	display: block;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 28px;
}
.sidebar section p {
	line-height: 24px;
	font-size: 16px;
	margin-bottom: 23px;
}
.sidebar section address {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 27px;
}

/* banner Section Starts Here
====================================================*/
.inner-banner {
	height: 300px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}
.inner-banner:before {
	background: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	content: "";
}
.inner-banner h1 {
	color: #fff;
	padding-left: 25px;
}

/* Mid Content Section Starts Here
====================================================*/
.mid-content {
	background: #fff;
	padding: 28px 0 33px;
}
.mid-content h2 {
	color: #003070;
	font-size: 30px;
	line-height: 45px;
	font-family: "soleil",sans-serif;
	font-weight: 400;
	font-style: italic;
	margin-bottom: 0;
}
.mid-content h2 em {
	font-weight: 600;
	display: block;
}

/* ----------------------------------------------------------------------------
    About Page
---------------------------------------------------------------------------- */

/* About Boxes Section Starts Here
====================================================*/
#about-nav .ui-tabs-active a{
  background: #fff;
  color: #ffbd4b;
}
#tab-container.about-page{
  background: #fff;
}
#our-team .about-boxes,
#spinal-cord-injury-model-systems-program .about-boxes,
#snerscic-network-sites .about-boxes,
#snerscic-community-advisory-board .about-boxes {
	min-height: 400px;
	padding: 18px 10px 77px;
	background: #008aaf;
	text-align: center;
	position: relative;
	margin-bottom: 70px;
}
#about .about-inside .up_bold{
  font-weight: 700;
}
#spinal-cord-injury-model-systems-program figure{
  width: 153px;
  height: 154px;
  display: block;
  border-radius: 100%;
  background: #fff;
  line-height: 154px;
  margin: 0 auto 25px;
}
#spinal-cord-injury-model-systems-program figure img{
	display: inline-block;
	vertical-align: middle;
	width: auto;
	border-radius:0;
}
.about-boxes img{
	border-radius: 50%;
	width: 80%;
}
#our-team .about-boxes h3,
#spinal-cord-injury-model-systems-program .about-boxes h3,
#snerscic-network-sites .about-boxes h3,
#snerscic-community-advisory-board .about-boxes h3{
	color: #fff;
	font-size: 16px;
	line-height: 20px;
	font-family: "soleil",sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	margin: 30px 0 0 0;
}

#our-team .about-boxes p,
#spinal-cord-injury-model-systems-program .about-boxes p,
#snerscic-network-sites .about-boxes p,
#snerscic-community-advisory-board .about-boxes p{
	font-size: 12px;
	line-height: 17px;
	color: #fff;
	font-family: "soleil",sans-serif;
	font-weight: 300;
	font-style: italic;
	text-transform: uppercase;
}
#our-team .about-boxes .btn,
#snerscic-community-advisory-board .about-boxes .btn{
	position: absolute;
	bottom: 22px;
	left: 24px;
	right: 23px;
}
#our-team .modal .left-align,
#snerscic-community-advisory-board .modal .left-align{
  float: left;
  margin-right: 11px;
}
#our-team .modal p,
#snerscic-community-advisory-board .modal p{
  font-size: 14px;
  line-height: 24px;
}
.about-boxes .btn{
	position: absolute;
	bottom: 22px;
	left: 24px;
	right: 23px;
}

.about-mid-container {
	background-position: left bottom;
	background-repeat: no-repeat;
	padding: 85px 0 141px;
	background-size: inherit;
}
.about-mid-container .row{
  text-align: center;
}
.about-mid-container .modal-content{
	min-height: 290px;
}
.about-mid-container .modal-lg{
  width: 700px;
}
.about-mid-container .modal-body{
  padding: 0;
}
.about-mid-container .modal-body img{
	width: 100%;
	margin: 0 30px 20px 0;
	float: left;
}
.about-mid-container .modal-body p{
	padding: 20px 60px;
	margin-bottom: 0;
	text-align: left;
	font-size: 14px;
	line-height: 24px;
}
.about-mid-container .modal-title{
  color: #ffbd4b;
}
.mid-container .container .row .col-lg-4{
  float: none;
}

/* About Snerscic Section Starts Here
====================================================*/
#about .about-inside{
  border: solid 3px #008aaf;
  padding: 5%;
  text-align: left;
}
#about .about-inside p{
  margin-bottom: 20px;
}
.tab-pane{
  padding-top: 80px;
  margin-bottom: 120px;
}
.about-banner:before{
	opacity: 0;
}
.about-snerscic-mid {
	padding: 81px 0 326px;
}
.about-snerscic-content figure {
	margin: initial;
}
.about-snerscic-content figure img {
	display: block; width: 100%;
}
.about-snerscic-content p {
	margin-bottom: 30px;
}
.about-snerscic-content p a {
	font-weight: 600;
}
#tabs-1 .about-snerscic-content .text-center img{
	width:1000px;
	max-width:100%;
}
#tabs-2 .about-snerscic-content .modal-body{
	min-height:240px;
}
/* About-network Sites
====================================================*/
#snerscic-network-sites .about-boxes{
  padding: 0;
}
#snerscic-network-sites .about-boxes figure{
  width: auto;
  height: auto;
}
#snerscic-network-sites .about-boxes figure img{
  width: 100%;
  border-radius: initial;
}
#snerscic-network-sites .about-boxes p{
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  font-family: "Soleil",sans-serif;
  font-weight: 300;
}
#snerscic-network-sites .modal .modal-title{
  color: #ffbd4b;
  text-align: center;
}
#snerscic-network-sites .modal .modal-body{
  padding: 0;
}
#snerscic-network-sites .modal .modal-body img{
  width: 100%;
  margin-bottom: 30px;
}
#snerscic-network-sites .modal .modal-body p{
  padding: 20px 60px;
  margin-bottom: 0;
}
#snerscic-network-sites .modal a{
  float: none;
}
.currently-recruiting-content {
	background: #fff;
	padding: 33px 75px;
	margin: 0 50px;
}
.currently-recruiting-content h3 {
	font-style: 24px;
	line-height: 28px;
	color: #000000;
	font-family: "soleil",sans-serif;
	font-weight: 700;
	margin: 0 0 23px 0;
}
.currently-recruiting-content h2 {
	font-size: 30px;
	line-height: 36px;
	color: #2882d3;
	margin-bottom: 32px;
}
.currently-recruiting-content h4 {
	text-transform: inherit;
	letter-spacing: 0;
	word-spacing: 0;
	margin-bottom: 4px;
}
.text-center img{
	max-width:100%;
}

ol {
	padding-left: 15px;
	margin-bottom: 21px;
}
ol li {
	padding-left: 2px;
}

.contact-dtl {
	font-weight: 400;
	margin-bottom: 13px;
}
.contact-dtl a {
	text-decoration: none;
	color: #000;
	display: inline-block;
	line-height: 20px;
	font-weight: 400;
}

.default-link {
	text-transform: uppercase;
}

/* ----------------------------------------------------------------------------
    Research Page
---------------------------------------------------------------------------- */

/* Mid Banner Section Starts Here
====================================================*/
.mid-banner {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 37px 0 90px;
}
.mid-banner h2 {
	font-size: 60px;
	color: #fff;
	line-height: 64px;
	font-family: "soleil",sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 53px;
}
.mid-banner-content {
	background: rgba(000,000,000,0.35);
	margin: 0 109px;
	padding: 36px 60px;
}
.mid-banner-content h3 {
	color: #fff;
	font-family: "soleil",sans-serif;
	font-weight: 900;
	margin-top: 0;
	margin-bottom: 26px;
}
.mid-banner-content p {
	color: #fff;
	margin-bottom: 19px;
}
.mid-banner-content figure {
	padding-top: 30px;
}
.mid-banner-content .row {
	margin-top: 6px;
}
.mid-banner-content address {
	font-size: 18px;
	line-height: 24px;
	color: #fff;
	text-align: left;
	border-left: solid 1px #fff;
	padding: 16px 0 14px 25%;
}
.mid-banner-content address a {
	color: #fff;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	text-decoration: none;
}
.mid-banner-content address a:hover,
.mid-banner-content address a:focus {
	opacity: 0.7;
}
/* Research section
====================================================*/
#tabs-1 .research-snerscic-content h4{
	margin-top:20px;
}
/* Research accordion Section Starts Here
====================================================*/
.research-page{
  background-color: skyblue;
}
	.research-other {
	padding-bottom: 182px;
}
.panel-default>.panel-heading {
	background: none;
	border: none;
	padding: 0;
}
.panel-default {
	background: none;
	padding: 0;
	border: none;
}
.panel-title a {
	background: #008aaf;
	display: block;
	padding: 18px 240px 18px 50px;
	font-size: 28px;
	line-height: 30px;
	color: #fff;
	text-decoration: inherit;
	position: relative;
}
.panel-title a:after {
	content: "";
	width: 6px;
	height: 30px;
	background: #fff;
	position: absolute;
	right: 56px;
	top: 50%;
	margin-top: -15px;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
}
.panel-title a:before {
	content: "";
	width: 30px;
	height: 6px;
	background: #fff;
	position: absolute;
	top: 50%;
	right: 44px;
	display: block;
	margin-top: -3px;
}
.panel-title a.collapsed:after {
	transform: rotate(0);
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	-o-transform: rotate(0);
	-moz-transform: rotate(0);
}
.panel-group .panel+.panel {
	margin-top: 19px;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
	border-top: none;
}
.panel-body {
	background: #fff;
	border: solid 3px #008aaf;
	border-top: none;
	padding: 20px 58px 59px;
}
.panel-body p {
	font-size: 16px;
	line-height: 30px;
}
.more-links {
	padding-top: 55px;
}
.more-links p {
	margin-bottom: 4px;
	line-height: 20px;
}
.more-links a {
	color: #084eff;
	text-decoration-color: #83a6ff;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	display: inline-block;
}

.pagination {
	background: #fff;
	text-align: center;
	display: block;
	border: solid 3px #008aaf;
	border-radius: 0;
	padding: 18px 15px 12px;
}
.pagination a {
	display: inline-block;
	text-decoration: none;
	font-size: 28px;
	line-height: 30px;
	color: #2882d3;
	font-family: "soleil",sans-serif;
	font-weight: 400;
	margin: 0 8px;
}
.pagination a.prev.last,
.pagination a.next.last,
.pagination a.active,
.pagination a:hover,
.pagination a:focus {
	color: #000;
}

.research-other .panel-title a {
	text-transform: none;
}

/* Research Presentation Section Starts Here
====================================================*/
.select-btn{
  text-align: right;
}
.select-btn .dropdown-toggle{
  font-size: 14px;
  padding: 14px;
}
.select-btn .btn-group{
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 40px;
  width: initial;
  text-align: right;
}
#snerscic-top-nav{
  color: #fff;
  font-weight: 200;
  letter-spacing: .5px;
}
.pres-toggle-select .btn-primary{
  background-color: #003070;
  border-color: #003070;
  border: 0;
}
.select-btn .caret{
  margin-left: 8px;
  border-width: 8px;
}
ul#pres-dropdown-menu {
  min-width: 100%;
  text-align: center;
  margin-top: -1px;
  border-radius: 0;
  padding: 0;
  border-left: 0;
  border-right: 0;
}
.select-btn .dropdown-menu > li > a {
  font-size: 13px;
  padding: 12px;
  border-bottom: 1px solid #eee;
  text-decoration: none;
  margin: 0px;
}
.research-presentations {
	padding-bottom: 159px;
}
.presentation-main {
	background: #fff;
	margin: 0 47px;
	padding: 48px 26px;
}
.presentation-box {
	margin-bottom: 28px;
}
.presentation-box figure {
	width: 30%;
	display: inline-block;
}
.presentation-box figure a {
	display: block;
}
.presentation-box figure img {
	display: block;
	max-width: 100%;
	float: right;
	margin-right: 15px;
	box-shadow: 0 3px 5px rgba(000,000,000,0.5);
}
.presentation-content {
	display: block;
	vertical-align: top;
	width: 67.5%;
	margin: 0 auto;
}
.presentation-content h3 {
	margin: 0 0 4px;
	font-size: 16px;
	line-height: 19px;
	color: #002b65;
	font-family: "soleil",sans-serif;
	font-weight: 700;
}
.presentation-content h3 a {
	text-decoration: none;
	color: #002b65;
	display: inline-block;
}
.presentation-content h3 a:hover,
.presentation-content h3 a:focus {
	color: #ffbc4b;
}
.presentation-content p {
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	margin-bottom: 0px;
}
.presentation-content p:last-child {
	margin-bottom: 0;
}
.presentation-content .description,
.presentation-content .authors{
  margin-top: 15px;
}
.presentation-content .description{
  margin-bottom: 15px;
}

.sort-by {
	margin-bottom: inherit;
	padding-bottom: 0px;
}
.sort-by label {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 18px;
	font-family: "soleil",sans-serif;
	font-weight: 400;
	color: #000;
}
.sort-by select {
	width: 152px;
	height: 30px;
	font-size: 16px;
	line-height: 20px;
	font-family: "soleil",sans-serif;
	font-weight: 700;
	color: #fff;
	background: #002b65 url(../images/select-arrow.png) no-repeat 95% center;
	border: none; padding: 0 12px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-moz-appearance: none;
}
.publication-content {
  background: #fff;
  max-width: 990px;
  padding: 10px 12px 20px;
  margin: 0 auto;
}
#research-publications .publication-content p{
  margin: 15px 0;
}
#research-publications .publication-content p.indentation{
  margin-bottom: 20px;
  margin-top: -15px;
  margin-left: 30px;
}

/* Research quickreview Section Starts Here
====================================================*/
.quickreview-sec {
	min-height: 965px;
	padding: 120px 0 82px;
	background-position: center bottom;
}
.quickreview-boxes {
	background: #fff;
	padding: 45px 15px 77px;
	min-height: 354px;
}
.quickreview-boxes h3 {
	color: #000;
	text-transform: inherit;
}
.quickreview-boxes .blue-btn {
	background: #37a5c6;
	font-size: 12px;
	padding: 14px 15px 15px;
	bottom: 19px;
}
.quickreview-boxes .blue-btn:hover,
.quickreview-boxes .blue-btn:focus {
	background: #41bfe5;
}
.quickreview-sec .container .row {
	margin: 0 58px;
}
#tabs-3 .research-snerscic-content h3{
  font-size: 16px;
  margin: 0 0 -2px;
  font-weight: 700;
  text-align: center;
}
#tabs-3 .research-snerscic-content .blue-btn{
	left:24px;
	right:23px;
}

/* ----------------------------------------------------------------------------
    Education Page
---------------------------------------------------------------------------- */
.factsheet-box .factsheet-img{
	padding: 0;
	background-color: #fff;
}
.education-content{
  font-size: 12px;
  text-align: center;
  color: #000;
  background-color: #e9eaea;
  display: inline-block;
  margin: auto;
  padding: 36px 20px;
  text-align: center;
  line-height: 30px;
  width: 100%;
  max-width: 1000px;
}
.education-content .col-lg-4{
	margin-bottom:30px;
}
.education-content .internal-factsheet h3{
	font-size: 16px;
	color: #003070;
	font-weight: 600;
	padding: 0;
}

.education-factsheets .internal-factsheet p.factsheet-text{
	margin: 30px 15px;
}

#education-factsheets .factsheet-box .factsheet-text{
	min-height: 90px;
	padding: 0 5%;
	line-height: 22px;
}

.col-lg-4 .factsheet-box{
	padding: 0;
	background-color: #fff;
	padding-bottom: 15px;
}

.factsheet-box img{
	width: 100%;
	max-width: 100%;
}
#education-factsheets .education-content .english i,
#education-factsheets .education-content .spanish i{
	margin-right: 1%;
}
#education-factsheets .resources-content .internal-factsheet{
	display: block;
	padding-bottom: 20px;
}
.resources-content .col-lg-4{
  margin-bottom: 30px;
}

/*Education Lectures.php*/
/*blue and orange buttons for education programs*/
.upcoming-btn, .past-btn{
	margin: 40px 15px 40px 15px;
	font-size: 14px;
	text-decoration: none;
	padding: 12px 50px 10px 41px;
	line-height: 14px;
}
.upcoming-btn{
	background-color: #ffbd4b;
}
.upcoming-btn:hover{
	background-color: orange;
}
/*join Mailing list text link*/
.text-center .mailing-list{
	text-decoration: none;
}
.text-center .mailing-list:hover{
	color: #337ab7;
}
#register-for-next-kim-lecturewebcast .education-snerscic-content{
	padding: 33px 75px;
	background-color: #fff;
}
#register-for-next-kim-lecturewebcast .education-snerscic-content h2{
	color: #ffbd4b;
	margin-top: 20px;
}
#register-for-next-kim-lecturewebcast .education-snerscic-content .btn{
	margin: 15px 0 60px;
}
#register-for-next-kim-lecturewebcast .education-snerscic-content h3{
	margin-top: 0;
	font-weight: 700;

}
#register-for-next-kim-lecturewebcast .education-snerscic-content a{
	text-decoration: none;
}
#kim-online-videos .education-snerscic-content{
	background-color: #fff;
	padding: 30px;
}
#kim-online-videos .education-snerscic-content h2{
	font-size: 20px;
	line-height: 30px;
	font-weight: 500;
	padding: 0 15px;
}
#kim-online-videos .education-snerscic-content p{
	font-size: 12px;
	line-height: normal;
	text-align: left;
}
#kim-online-videos .education-snerscic-content .video > p{
	text-align: center;
}
#kim-online-videos .education-snerscic-content h3{
	font-size: 18px;
	color: #008ca8;
}
#kim-online-videos .education-snerscic-content .video{
	margin-bottom: 30px;
}

/* ----------------------------------------------------------------------------
    Resources Page
---------------------------------------------------------------------------- */

/* Resources Page Starts Here
====================================================*/
i.icon{
	display: block;
	font-size: 5em;
	line-height: 0px;
	position: relative;
	top: 0px;
}
.mid-content-blue {
	background: #fff;
	padding: 74px 0 68px;
	box-shadow: inherit;
}
	.mid-content-blue h2 {
		color: #003070;
		font-style: inherit;
		font-weight: 700;
	}
	.mid-content p{
		margin:auto;
		color:#003070;
	}
.resource-boxes {
	background: #fff;
	padding: 30px 15px 77px;
	min-height: 354px;
}
	.resource-boxes h3 {
		color: #000;
		text-transform: inherit;
	}
	.resource-boxes figure {
		background: #003070;
		height: 150px;
		line-height: 150px;
		margin-bottom: 15px;
	}
	.resource-boxes .blue-btn {
		background: #37a5c6;
		font-size: 12px;
		left: 19px;
		right: 19px;
		padding: 14px 15px 15px;
		bottom: 19px;
	}
	.resource-boxes .blue-btn:hover,
	.resource-boxes .blue-btn:focus {
		background: #41bfe5;
	}
.resource-mid-sec {
	min-height: 965px;
	padding: 146px 0 82px;
}
.resource-mid-sec .container .row {
	margin: 0 58px;
}
.mid-banner-referral-content {
  border-top: 20px;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-color: #ffbd4b;
  border-style: solid;
  background: #fff;
  margin: auto;
  padding: 36px 150px;
  text-align: center;
  line-height: 30px;
  width: 100%;
  max-width: 1000px;
  box-shadow: 0 3px 5px #c6c6c6;
  z-index: 3;
  position: relative;
}
	.mid-banner-referral-content p {
	  color: #000;
	  margin-bottom: 5px;
	  text-align: left;
	}
	.mid-banner-referral-content span{
		display:block;
		text-align: center;
	}

	@media (max-width: 992px){
		.mid-banner-referral-content {
			padding:36px 30px;
	}
}
	.mid-banner-referral-content .row {
	  margin-top: 6px;
	}
	.mid-banner-referral-content h2 {
	  font-size: 24px;
	  height: 30px;
	  margin-top: 50px;
	  margin-bottom: 0;
	}
	.mid-banner-referral-content a {
	  text-decoration: none;
	  color: #008ca8;
	}
	.mid-banner-referral-content a:hover {
	  color: #003070;
	}
	.referral-contact{
		text-align:center;
	}
.mid-container .container .row .col-lg-4 {
  display: inline-block;
}
.resources-content{
  font-size: 12px;
  text-align: center;
  color: #000;
  background-color: #e9eaea;
  display: inline-block;
  margin: auto;
  padding: 36px 20px;
  text-align: center;
  line-height: 30px;
  width: 100%;
  max-width: 1000px;
}
	.resources-content h3{
	  font-size: 16px;
	  color: #003070;
	  font-weight: 600;
	  padding: 0;
	  margin-bottom: 20px; //30
	}
	.toolkit-box p{
	  height: 120px;
	  line-height: 20px;
	  padding: 0 30px;
	  min-height: 100px;
	}
	#new-england-sci-toolkit-nescit .resources-content .toolkit-icon{
		padding: 0;
		margin-left: -15px;
		margin-right: -15px;
		background-color: #ffbd4b;
	}
	#new-england-sci-toolkit-nescit .resources-content .toolkit-box-spacing{
		margin: 15px;
		padding: 0;
	}
	#new-england-sci-toolkit-nescit .resources-content img{
	  margin: 15px -15px;
	}
	#new-england-sci-toolkit-nescit .resources-content .col-lg-4{
		margin-bottom: 30px;
	}
	#new-england-sci-toolkit-nescit .resources-content p{
		min-height: 120px;
		line-height: 20px;

	}
	#new-england-sci-toolkit-nescit .resources-content .modal,
	#new-england-sci-toolkit-nescit .resources-content .modal p{
		min-height: 1px;
		text-align: left;
	}
	#new-england-sci-toolkit-nescit .resources-content .spacer{
		padding: 0 15px;
		background-color: #fff;
		min-height: 400px;
	}
	#resource-referral .resources-content{
		text-align: center;
	}
	#resource-list .resource-snerscic-content .row > .col-lg-12{
		padding: 0 45px;
	}
	.resources-content .spanish{
	  text-align: right;
		margin-left: 25%;
	}
	.education-content .english{
	  text-align: left;
		margin-right: 25%;
	}
	.resources-content img:hover{
	  opacity: .9;
	}
.resources-bg .modal-title{
	color: #ffbd4b;
}
.resources-bg .modal{
  overflow-y: auto;
  text-align: left;
}

/* Referral Page */
.referral-bg {
  background-image: url("../images/referral-bg.png");
  background-size: cover;
}

.referral-bg .mid-banner-referral-content{
  margin-bottom: 150px;
  padding: 75px 175px;
  max-width: 900px;
}

.referral-bg .mid-banner-referral-content p{
	text-align: left;
}

/* Resource List Page */
.list-group-image {
  margin-bottom: 20px;
  padding: 0px;
  max-width: 300px;
}
.list-group-image:hover {
  opacity: .95;
}
.item.list-group-item {
  float: none;
  width: 100%;
  background-color: #fff;
  padding: 0;
  max-width: 1180px;
  text-align: left;
}
.item.list-group-item:nth-of-type(odd):hover,
.item.list-group-item:hover {
  background-color: #ffbd4b;
}
.item.list-group-item .list-group-image {
  margin-right: 10px;
}
.item.list-group-item .thumbnail {
  margin-bottom: 0px;
  background-color: transparent;
  border: none;
}
.item.list-group-item .caption {
  padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd) {
  background: #eeeeee;
}
.item.list-group-item:before, .item.list-group-item:after {
  display: table;
  content: " ";
}
.item.list-group-item:after {
  clear: both;
}
.btn-group{
  margin-top: 50px;
  margin-right: 60px;
  margin-bottom: 35px;
  width: 100%;
  text-align: right;
}
.btn-group a{
  color: #003070;
  margin-left: 5px;
  margin-right: 15px;
}
.btn-group a:hover{
  color: #ffbd4b;
}
.list-group-item-text {
  margin: 0 0 11px;
}
.caption-grid h4{
  color: #fff;
  font-size: 24px;
	position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 50px;
  width: 270px;
  text-align: left;
}
.caption h4{
  display: inline-block;
  color: #003070;
  text-transform: none;
}
.caption span{
  display: inline-block;
  float: right;
  color: #003070;
}
.item .thumbnail{
  border: none;
}
.loader{
  margin-bottom: 50px;
  margin-top: 20px;
	text-align:center;
}
.loader a{
  color: #003070;
  font-size:18px;
  text-decoration: none;
}
.loader a:hover{
  color: #ffbd4b;
}
#resource-referral .judi{
	margin:0;
}

/* Publication Page Starts Here
====================================================*/
.publication-mid-sec {
	background: #7fc4d7;
	padding: 137px 0 140px;
}
.publication-content {
	background: #fff;
	max-width: 716px;
	padding: 10px 12px 20px;
	margin: 0 auto;
}
.publication-content h2 {
	font-size: 40px;
	margin-bottom: 20px;
}
.publication-content p {
	font-size: 14px;
	line-height: 24px;
}
.share-email {
	padding-top: 19px;
	padding-bottom: 30px;
}
.share-email strong {
	display: inline-block;
	font-size: 15px;
	line-height: 18px;
}
.share-email a {
	display: inline-block;
	font-size: 15px;
	display: inline-block;
	font-family: "soleil",sans-serif;
	font-weight: 300;
	position: relative;
	top: -1px;
}
.share-email a:before {
	content: "\f0e0";
	font-family: 'FontAwesome';
	display: inline-block;
	color: #ababab;
	margin: 0 7px 0 13px;
}

/* ----------------------------------------------------------------------------
    Contact Page
---------------------------------------------------------------------------- */
/* Contact Us Styles -- need to fix */
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	background-color: #FFF;
	color: #666;
	font-size: 12px;
	margin: 0;
	padding: 10px 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 0;
	border:1px solid #ddd;
	 height: 36px;
	margin-top: 4px;
	max-width: 100%;
	outline: 0;
}
.contact-form{
	border: 8px solid #008ca8;
	background-color: #f8f8f8;
}
#contact-content .gform_body{
	position: relative;
	top: -15px;
}
#contact-content .gform_wrapper h3.gform_title {
	text-align: center;
	font-size: 25px;
	font-weight: 600;
	padding-top: 10px;
}
#contact-content .gform_wrapper .gform_body .line,
#contact-content .gform_wrapper .gform_body .checkbox,
#contact-content .gform_wrapper .gform_body .message,
#contact-content .gform_wrapper .top_label div.ginput_container{
	margin-top: 0px;
}
#contact-content .gform_wrapper ul.gform_fields li.gfield{
	padding-right: 0px;
}
#contact-content .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
	width: 100%;
	padding: 0 12px;
}
#contact-content .gform_wrapper ul.gfield_checkbox{
	margin: 0px;
}
#contact-content .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox]{
	transform: scale(1);
	margin-left: 1%;
}
#contact-content .gform_wrapper .gfield_checkbox li label {
	margin-left: 6.5%;
	margin-top: 1%;
	font-size: 1em;
	font-weight: 100;
}
#contact-content .gform_wrapper .message textarea.medium {
	height: 120px;
}
#contact-content .gform_wrapper .gform_footer{
	padding: 0;
	margin: 0;
}
#contact-content input[type=submit] {
	background-color: #1f8ca8;
	width: 100%;
}
.contact-info{
	text-align: center;
}
.contact-info p{
	font-size: 18px;
	line-height: 40px;
}
.contact-info .address{
	margin: 15px 0;
}
.contact-info .address p,
.contact-info .extra p{
	margin: 0;
}
.contact-info .extra{
	margin-bottom: 15px;
}
.contact-info .extra p span{
	font-weight: bold;
}
.contact-info .google-map{
	margin-top: 18%;
}
@media (max-width: 990px) and (min-width: 768px){
	.google-map iframe{
		max-width: 100%;
	}
}
@media (max-width: 767px){
	.contact-form{
		margin: 0 30px;
	}
	.contact-info{
		margin-top: 50px;
	}
	.contact-info .google-map{
		margin-top: 8%;
	}
}
#contact-content input[type=submit] {
background-color: #003070;
width: 100%;
color: #fff;
border-style: none;
-webkit-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out;
}
#contact-content input[type=submit]:hover {
	background-color: #2882d3
}
#contact-content .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox]{
	transform: scale(1.5);
	margin-top: 12px;
}
.inner-banner:before{
	background: none;
}
.mid-banner-content figure{
	padding-top: 10px;
}
/* ----------------------------------------------------------------------------
    Random Misc. Stuff
---------------------------------------------------------------------------- */	
/*Resources-toolkit.php*/
/*added new div to each col-lg-4 for spacing*/
.col-lg-4 .toolkit-box{
	padding: 0;
	background-color: #fff;
}
/*Orange bg behind white icons*/
.orange-bg{
	height: 144px;
	width: 100%;
	background-color: #ffbd4b;
}

/*HIDDEN PAGES FOR Phase 2*/
// .research-tabs-4, .research-tabs-5,
// .research-tabs-6{
// 	display:none;
// }			