/* Header */
#mailinglist-signup .modal-body {
  background-color: #f8f8f8;
}
#menu-item-412.active > a:after,
#menu-item-417.active > a:after{
  background: transparent;
}
.logo img{
	position: relative;
	left: 20px
}
.top-nav-list li{
  margin-left: 0;
}
.top-nav-list li a.fa-facebook,
.top-nav-list li a.fa-twitter{
  width: 36px;
  display: block;
  text-decoration: none;
  color: #fff;
  line-height: 32px;
  border-radius: 3px;
  font-size: 14px;
  padding-right: 12px;
}
.top-nav-list li a.fa-facebook{
  background: #4e73c0;
}
  .top-nav-list li a.fa-facebook:before{
    content: "\f09a";
    font-family: FontAwesome;
  }
.top-nav-list li a.fa-twitter{
  background: #3ce4f2;
}
  .top-nav-list li a.fa-twitter:before{
    content: "\f099";
    font-family: FontAwesome;
  }
.nav-center .top-nav-list li:first-of-type{
  margin-right: 10px;
}  
@media (min-width: 1200px){
	.top-nav .top-nav-list li:nth-of-type(3) {
	    margin-right: 15px;
	}
}
@media (max-width: 990px){
	.logo img{
		position: relative;
		left: 0px;
	}
}

@media (max-width: 768px){
  .top-nav .top-nav-list{
    margin-bottom: 20px;
  }
  .top-nav-list li:nth-of-type(1), .top-nav-list li:nth-of-type(4){
    display: block;
  }
  .top-nav-list li a.fa-facebook, .top-nav-list li a.fa-twitter{
    padding-right: 0px;
  }
  .nav-center .top-nav-list li:first-of-type{
    margin-right: 0px;
  }
}
/* Homepage */
.slick-slide img{
	display: block;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
}

.home .sidebar{
	float: none;
	width: 100%;
}

.home-block{
  display: block;
  text-align: center;
  padding: 25px 40px 13px;
  display: block;
  color: #fff;
}

.top-block-container{
	@extend figure;
}

.home-block .top-block-container img{
	margin-top: 2%;
}

.home-block .top-block-container-inside{
	padding: 0 2%;
	margin-bottom: 20px;
}

.home-block a{
	color: #fff;
	text-decoration: none;
}

/* Search */
.alert-warning{
	text-align: center;
}

.search-form.sorry-result{
	float: none;
	margin: 60px auto;
}

/* Search Results */
.search-results .contact-content article {
  margin: 2% 0;
}
.search-results .contact-content h2 a {
  text-decoration: none;
}
  .search-results .contact-content h2 a:hover,
  .search-results .contact-content h2 a:focus{
    text-decoration: underline;
  }
.search-results .contact-content h2 {
  margin-bottom: 0px!important;
}
.search-results .entry-summary{
  font-weight: 100;
}
@media (max-width: 768px){
	.search-results .main .container{
		padding-left: 30px!important;
		padding-right: 30px!important;
	}
}

/* Research */
.currently-recruiting-content:first-of-type{
	margin-bottom: 50px;
}
.special-btn{
	background: #003070;
  line-height: 17px;
  font-family: 'soleil', sans-serif;
  text-transform: uppercase;
  border-color: transparent;
}
#quick-reviews-of-snerscic-research .research-boxes {
	min-height: 300px;
	padding: 40px 10px 77px;
	background: #fff;
	text-align: center;
	position: relative;
	margin-bottom: 70px;
}
#quick-reviews-of-snerscic-research .research-boxes h3{
	line-height: 24px;
}
#quick-reviews-of-snerscic-research .research-boxes .btn{
	position: absolute;
	bottom: 22px;
	left: 24px;
	right: 23px;
}
#quick-reviews-of-snerscic-research .review-text{
	background-color: #fff;
	text-align: center;
	margin-bottom: 50px;
	padding: 3%;
}

#snerscic-studies-in-2016-2021 .review-text{
	background-color: #fff;
	text-align: center;
	margin-bottom: 50px;
	padding: 3%;
}

#other-research-opportunities .review-text{
  background-color: #fff;
  text-align: center;
  margin-bottom: 50px;
  padding: 3%;
}
#other-research-opportunities h3 {
  margin: 40px 0 30px;
  color: #fff;
  font-weight: bold;
}
.presentation-content h3{
  margin-top: 10px;
  position: relative;
}
.presentation-content h3 .fa{
  font-size: 32px;
  top: -8px;
  left: -36px;
  position: absolute;
}
  .presentation-content h3 .fa.fa-desktop{
    left: -40px;
  }

@media (max-width: 990px) and (min-width: 768px){
  .presentation-content h3 .fa{
    top: 70px;
  }
} 
@media (max-width: 768px){
  .presentation-box figure{
    width: 30%;
  }
  .presentation-box figure img{
    float: none;
  }
  .presentation-content h3 .fa{
    top: 0px;
    left: -38px;
  }
}
@media (max-width: 480px){
  .presentation-box figure{
    width: 100%;
  }
  .presentation-box figure img{
    margin: 0 auto!important;
  }
  .presentation-content{
    width: 100%;
    text-align: center;
  }
  .presentation-content h3 .fa{
    display: none;
  }
}

/* About Page */
.about-sci-systems-top {
  background-color: #008aaf;
  padding: 40px;
  box-sizing: border-box;
  margin-bottom: 30px;
}
	.about-sci-systems-top p{
		color: #fff;
	}
#snerscic-community-advisory-board .modal .modal-body p {
  min-height: 200px;
}

/* Education */
[class^="education-tabs"] .tbl-cell span{
	text-transform: none;
}
.tab-container.education-page {
  background: #3681ba;
}
.education-page .page-links .fa{
	font-size: 70px;
	display: block;
	margin-bottom: 15px;
}
#kim-lecture-with-live-webcast .past-btn a,
#kim-lecture-with-live-webcast .past-btn a:hover,
#kim-lecture-with-live-webcast .past-btn a:focus,
#kim-lecture-with-live-webcast .upcoming-btn a,
#kim-lecture-with-live-webcast .upcoming-btn a:hover,
#kim-lecture-with-live-webcast .upcoming-btn a:focus{
	text-decoration: none;
	color: #fff;
}

.education-page #new-to-sci .currently-recruiting-content{
  text-align: left;
}
.video{
	display: none;
}

#consumer-fact-sheets .education-content .english{
  text-align: center;
  margin-right: 0!important;
}
#consumer-fact-sheets .education-content p.factsheet-text {
  padding: 0 12px;
}
#consumer-fact-sheets .education-content .english .fa-file-pdf-o {
  margin-right: 1%;
  font-size: 18px;
}
#consumer-fact-sheets .mid-banner-referral-content p {
  margin-bottom: 15px;
}

/* Resources Page */
.mid-banner-referral-content p{
	margin-bottom: 30px;
}

.resource-list-top-text{
	padding: 0 30px;
}

.grid-group-item .thumbnail{
	display: none;
}

.resources-tabs-4 .tbl .tbl-cell a {
  margin-left: -1px;
}

#upcoming-events h3{
  text-transform: uppercase;
}

aside.event-section{
  padding: 15px 30px;
  background-color: #f1f1f1;
  margin-bottom: 30px;
}
	.event-section p {
	  line-height: 18px;
	}

.event-title a {
  color: #003070;
  text-decoration: none;
}

.event-date {
  color: #ffbd4b;
  font-weight: 500;
}

.event-extra {
  text-align: right;
  color: #003070;
}

.event-date,
.event-extra,
.event-standard{
	font-size: 16px;
}

#resource-list .resource-snerscic-content .row > .col-lg-12{
  padding: 0;
}
.snerscic-network-resources{
  padding: 0 30px;
}
.snerscic-network-resources h3{
  text-align: center;
  padding: 30px;
  position: relative;
  z-index: 1;
  font-size: 20px;
}
.snerscic-network-resources h3:before,
.snerscic-network-resources h3:after{
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 2px;
  content: "";
  background-color: black;
}
.snerscic-network-resources h3:before{
  margin-left: -51%;
  text-align: right;
}
.snerscic-network-resources h3:after{
  margin-left: 1%;
}
.snerscic-network-resources .network-title{
  font-size: 18px;
  font-weight: 600;
}
.snerscic-network-resources > ul {
  padding-left: 0;
}
.snerscic-network-resources > ul li.new-resource-type:nth-of-type(odd){
  background-color: #ebebeb;
}
.snerscic-network-resources > ul li.new-resource-type{
  list-style-type: none;
  font-size: 20px;
  padding: 15px;
}
.new-resource-type .left-link{
  color: #337ab7;
  text-align: left;
  display: inline-block;
}
.new-resource-type .right-link{
  float: right;
  position: relative;
  top: 0px;
  text-decoration: none;
  margin-right: 15px;
}
.new-resource-type .fa-link{
  margin-left: 5px;
  font-size: 30px;
}

@media (max-width: 768px){
  .event-section{
    margin: 0 15px;
  }

  #snerscic-network-sites .about-boxes{
    padding: 18px 10px 77px;
  }

  #snerscic-network-sites .about-snerscic-content .about-boxes figure{
    margin: 0 auto 15px;
  }
  
  #upcoming-events h3{
    font-weight: 700;
    margin: 0 15px 3% 15px;
  }
}

@media (max-width: 600px){
  .snerscic-network-resources h3:before,
  .snerscic-network-resources h3:after{
    display: none;
  }
  .snerscic-network-resources h3{
    padding: 8px;
    border-bottom: 2px solid black;
  }
  .new-resource-type .left-link{
    font-size: 16px;
  }
}

/* Back to Top */
#backToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #ffbd4b;
  color: white;
  font-size: 56px;
  cursor: pointer;
  padding: 0 15px 5px 15px;
  border-radius: 10px;
  opacity: .5;
}
  #backToTop:hover{
    opacity: 1;
  }

/* Gravity Forms */
.gfield.checkbox .gfield_description{
	margin-bottom: 15px;
} 
#gform_2 .color-change{
  color: #003070;
  font-weight: 600;
}

#gform_2 input[type=submit] {
  background-color: #003070;
  width: 100%;
  color: #fff;
  border-style: none;
  transition: all .4s ease-in-out;
}
	#gform_2 input[type=submit]:hover{
		background-color: #2882d3;
	}

/* Registration */ 
.registration-description{
  margin: 30px 0;
}
.registration-description p.center{
  text-align: center;
} 